{% extends '::base_hero.html.twig' %}

{% block body %}
<div class="container">

    <ul class="breadcrumb">
        <li>
            <a href="#">Жилая недвижимость</a><span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_flat') }}">Квартиры</a><span class="divider">/</span>
        </li>
        <li class="active">
            Редактировать объект
        </li>
    </ul>
    
    <div class="row">
      <div class="span7">    

        <form action="{{ path('admin_flat_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well form-horizontal">
            <fieldset>
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </fieldset>                       
        </form>

        <form action="{{ path('admin_flat_delete', { 'id': entity.id }) }}" method="post">
           {{ form_widget(delete_form) }}
           <button class="btn btn-mini btn-danger" type="submit">Удалить объект</button>
        </form>                                                     
      </div>          
      <div class="span5">          
        {% if entity.documents|length > 0 %}         
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
        <!-- Carousel items -->
            {% for doc in entity.documents %}
            <div class="item {% if loop.first %} active {% endif %}">
                <img src="{{ doc.webpath }}" alt=""/>
                <div class="carousel-caption">                    
                    <h4>
                        <span class="badge">{{ loop.index }}/{{ loop.length}}</span>
                        {{ doc.title }}
                        <form style="float:right" action="{{ path('admin_document_delete', { 'id': doc.id }) }}" method="post">
                            {{ form_widget(delete_form) }}
                            <button class="btn btn-mini btn-danger" type="submit">Удалить фотографию</button>
                        </form>                        
                    </h4>
                    {% if doc.desc is not empty %}<p>{{ doc.desc }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
          </div>
          <!-- Carousel nav -->
          {% if entity.documents|length > 1 %}
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          {% endif %}
        </div>      
                           
        {% endif %}  
              
        {% render "SpbRealityBundle:Document:new" with { 'id' : entity.id } %}
      </div>
            
    </div>

</div>
{% endblock %}