{% extends '::base_hero.html.twig' %}

{% block body %}

<div class="container">
    <ul class="breadcrumb">
        <li>
            <a href="#">Жилая недвижимость</a><span class="divider">/</span>
        </li>
        <li class="active">
            Квартиры
        </li>
    </ul>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>№</th>
            <th>Район</th>
            <th>Адрес</th>
            <th>К</th>
            <th>Этаж</th>
            <th>Дом</th>
            <th>общ.</th>
            <th>жил.</th>
            <th>кух.</th>
            <th>Цена</th>
            <th>Доп.сведения</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_flat_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.district }}</td>            
            <td>{{ entity.address }}</td>          
            <td>{{ entity.rooms }}</td>
            <td>{{ entity.floor }}/{{ entity.floors }}</td>
            <td>{{ entity.buildingtype.abbr }}</td>           
            <td>{{ entity.s }}</td>
            <td>{{ entity.sl }}</td>
            <td>{{ entity.sk }}</td>
            <td>{{ entity.price }}</td>            
            <td>{{ entity.sdesc }}</td>
            <td>
                <a href="{{ path('admin_flat_show', { 'id': entity.id }) }}" class="icon-check" title="Показать"></a> | 
                <a href="{{ path('admin_flat_edit', { 'id': entity.id }) }}" class="icon-edit" title="Редактировать"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_flat_new') }}" class="icon-plus-sign"></a>        
<a href="{{ path('admin_flat_new') }}"> Добавить квартиру</a>

</div>

{% endblock %}