{% extends '::base_hero.html.twig' %}

{% block body %}
<div class="container">

    <ul class="breadcrumb">
        <li>
            <a href="#">Жилая недвижимость</a><span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_flat') }}">Квартиры</a><span class="divider">/</span>
        </li>
        <li class="active">
            Полная информация об объекте
        </li>
    </ul>

    <div class="row">
      <div class="span6">    
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Номер объекта</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Тип сделки</th>
                    <td>{{ entity.operation }}</td>
                </tr>
                <tr>
                    <th>Тип дома</th>
                    <td>{{ entity.buildingstage }}</td>
                </tr>
                <tr>
                    <th>Район</th>
                    <td>{{ entity.district }}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{ entity.address }}</td>
                </tr>
                
                <tr>
                    <th>Количество комнат</th>
                    <td>{{ entity.rooms }}</td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td>{{ entity.floor }}/{{ entity.floors }}</td>
                </tr>
                <tr>
                    <th>Тип/материал дома</th>
                    <td>{{ entity.buildingtype }}</td>
                </tr>
                <tr>
                    <th>Общая площадь</th>
                    <td>{{ entity.s }}</td>
                </tr>
                <tr>
                    <th>Жилая площадь</th>
                    <td>{{ entity.sl }}</td>
                </tr>
                <tr>
                    <th>Площадь кухни</th>
                    <td>{{ entity.sk }}</td>
                </tr>
                <tr>
                    <th>Цена</th>
                    <td>{{ entity.price }}</td>
                </tr>
                <tr>
                    <th>Доп.сведения</th>
                    <td>{{ entity.sdesc }}</td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td>{{ entity.ldesc }}</td>
                </tr>
            </tbody>
        </table>
              
        <a href="{{ path('admin_flat_edit', { 'id': entity.id }) }}"> Редактировать объект</a>
        
      </div>
            
      <div class="span6">          
        {% if entity.documents|length > 0 %}         
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
        <!-- Carousel items -->
            {% for doc in entity.documents %}
            <div class="item {% if loop.first %} active {% endif %}">
                <img src="{{ doc.webpath }}" alt=""/>
                {% if (doc.title is not empty or doc.desc is not empty) %}
                <div class="carousel-caption">                    
                    <h4><span class="badge" style="float:right">{{ loop.index }}/{{ loop.length}}</span>{{ doc.title }}</h4>
                    {% if doc.desc is not empty %}<p>{{ doc.desc }}</p>{% endif %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
          </div>
          <!-- Carousel nav -->
          {% if entity.documents|length > 1 %}
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          {% endif %}
        </div>
        
        {% else %}
              Нет фотографий объекта.
        {% endif %}  
              
      </div>
            
           
    </div>
</div>
{% endblock %}