<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />        
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <title>{% block title %}Агенство недвижимости{% endblock %}</title>
              
        <!-- Styles -->
        <link href="{{ asset('bundles/spbreality/css/bootstrap.css') }}" rel="stylesheet" />

        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
       
        <link href="{{ asset('bundles/spbreality/css/bootstrap-responsive.css') }}" rel="stylesheet" />
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        {% block stylesheets %}{% endblock %}

        <!-- Favorite and touch icons -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('apple-touch-icon-57-precomposed.png') }}">

        <!-- Put this script tag to the <head> of your page VK Widget-->
        <script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>
        
    </head>
    <body>
        
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>

              <a class="brand" href="#">Риэлторская компания</a>
                            
              <div class="nav-collapse  pull-right">
                <ul class="nav">
                  <li><a href="#"><i class="icon-white icon-home"></i></a></li>
                  <li class="divider-vertical"></li>
                  <li class="dropdown" id="menu1">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                    Новости и статьи
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Новости компании</a></li>
                      <li><a href="#">Рынок жилья</a></li>
                    </ul>
                  </li>
                  <li class="dropdown" id="menu2">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
                    Недвижимость
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li>&nbsp;&nbsp;Жилая недвижимость</li>
                      <li><a href="#">Продажа квартир</a></li>
                      <li><a href="#">Продажа комнат</a></li>
                      <li><a href="#">Аренда квартир и комнат</a></li>
                      <li class="divider"></li>
                      <li>&nbsp;&nbsp;Коммерческая недвижимость</li>
                      <li><a href="#">Офисные помещения</a></li>
                      <li><a href="#">Торговые помещения</a></li>
                      <li><a href="#">Здания и сооружения</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Элитная недвижимость</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Загородная недвижимость</a></li>
                      <li class="divider"></li>
                      <li><a href="#">Недвижимость за рубежом</a></li>                      
                    </ul>
                  </li>
                  <li class="dropdown" id="menu3">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">
                    Фотокаталог
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Квартиры и комнаты</a></li>
                      <li><a href="#">Элитная недвижимость</a></li>
                      <li><a href="#">Загородные дома и участки</a></li>
                      <li><a href="#">Коммерческая недвижимость</a></li>
                    </ul>
                  </li>
                  <li><a href="#about">Услуги</a></li>
                  <li class="divider-vertical"></li>
                  <li class="dropdown" id="menu4">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#menu4">
                    О компании
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Наши сотрудники</a></li>
                      <li><a href="#">Вакансии</a></li>
                      <li><a href="#">Схема проезда</a></li>                      
                      <li class="divider"></li>
                      <li><a href="#">Контакты</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>        
      
        
        {% block body %}{% endblock %}
            
        <hr/>

        <footer >
            <div class="container">
              <div class="row">
                <div class="span3">
                  <h3 id="phone">
                    (812) 314-48-68
                  </h3>
                </div>
                <div class="span3">
                  <h3 id="phone">
                    (921) 913-1-913 
                  </h3>
                </div>
                      
                <div class="span3">
                  <p>
                    © 2007 <a href="http://www.rosreal.com" title="Риэлторская компаия - РосРеал">РосРеал</a>
                  </p>                    
                </div>
                <div class="span3">
                    <!-- Put this script tag to the place, where the Share button will be -->
                    <script type="text/javascript"><!--
                    document.write(VK.Share.button(false,{type: "round", text: "Рекомендуйте нас друзьям"}));
                    --></script>                    
                </div>
            </div>
        </footer>
        
        <!-- Javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('bundles/spbreality/js/jquery-1.7.2.min.js') }}"></script>
        <script src="{{ asset('bundles/spbreality/js/bootstrap.min.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
