{% extends '::base_hero.html.twig' %}

{% block body %}

    <ul class="breadcrumb">
        <li>
            Жилая недвижимость<span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_realty', { 'rtype': entity.realtytype }) }}">{{ entity.name("plural", "camel") }}</a><span class="divider">/</span>
        </li>
        <li class="active">
            Редактировать объект
        </li>
    </ul>
    
    <div class="row">
      <div class="span7">    

        <form action="{{ path('admin_realty_update', { 'rtype': entity.realtytype, 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="well form-horizontal">
            <fieldset>
                {{ form_widget(edit_form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Изменить</button>
                </div>
            </fieldset>                       
            <a href="{{ path('admin_realty_show', { 'rtype': entity.realtytype, 'id': entity.id }) }}" style="float:right"> Показать объект</a>
        </form>
          
      </div>  
            
      <div class="span5">          
        {% if entity.documents|length > 0 %}         
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
        <!-- Carousel items -->
            {% for doc in entity.documents %}
            <div class="item {% if loop.first %} active {% endif %}">
                <img src="{{ doc.webpath | apply_filter('thumb470')}}" alt=""/>
                <div class="carousel-caption">                    
                    <h4>
                        <span class="badge">{{ loop.index }}/{{ loop.length}}</span>
                        {{ doc.title }}
                        <a class="btn btn-mini btn-danger" href="{{ path('admin_document_delete', { 'id': doc.id }) }}" style="float:right">Удалить фотографию</a>
                    </h4>
                    {% if doc.desc is not empty %}<p>{{ doc.desc }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
          </div>
          <!-- Carousel nav -->
          {% if entity.documents|length > 1 %}
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          {% endif %}
        </div>      
                           
        {% endif %}  
              
        {% render "SpbRealityBundle:Document:new" with { 'id' : entity.id } %}

      </div>
            
    </div>

{% endblock %}