{% extends 'SpbRealityBundle:Realty:index.html.twig' %}

{% block rtype_ru_pl_camel %}Квартиры{% endblock %}
{% block add_link %}<a href="{{ path('admin_realty_new', { 'rtype': "flat" }) }}"> Добавить квартиру</a>{% endblock %}

{% block search%}
<form id='searchForm' class="form-inline" action="{{ path('admin_realty', { 'rtype': "flat" }) }}" method="get">
    <fieldset>
        <table class=table>
            <tr>
                <td>
                    <div class="control-group">
                        {{ form_widget(search_form.operation) }}
                    </div>                   
                    <div class="control-group">            
                        <div class="input-prepend">
                            <span class="add-on">от</span>
                            {{ form_widget(search_form.min_s, { 'attr': {'class': 'input-mini', 'id': 'prependedInput'} }) }}
                        </div>
                        <div class="input-prepend input-append">
                            <span class="add-on">до</span>
                            {{ form_widget(search_form.max_s, { 'attr': {'class': 'input-mini', 'id': 'appendedPrependedInput'} }) }}
                            <span class="add-on">S общая (м<sup>2</sup>)</span>
                        </div>
                    </div>
                    <div class="control-group">            
                        <div class="input-prepend">
                            <span class="add-on">от</span>
                            {{ form_widget(search_form.min_sk, { 'attr': {'class': 'input-mini', 'id': 'prependedInput'} }) }}
                        </div>
                        <div class="input-prepend input-append">
                            <span class="add-on">до</span>
                            {{ form_widget(search_form.max_sk, { 'attr': {'class': 'input-mini', 'id': 'appendedPrependedInput'} }) }}
                            <span class="add-on">S кухни (м<sup>2</sup>)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_widget(search_form.district) }}
                    </div>                              
                </td>
                <td>
                    <div class="control-group">           
                        {{ form_widget(search_form.building_stage) }}
                    </div>       
                    <div class="control-group">
                        <div class="input-prepend">
                            <span class="add-on">от</span>
                            {{ form_widget(search_form.min_rooms, { 'attr': {'class': 'input-mini', 'id': 'prependedInput'} }) }}
                        </div>
                        <div class="input-prepend input-append">
                            <span class="add-on">до</span>
                            {{ form_widget(search_form.max_rooms, { 'attr': {'class': 'input-mini', 'id': 'appendedPrependedInput'} }) }}
                            <span class="add-on">комнат</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="input-prepend">
                            <span class="add-on">от</span>
                            {{ form_widget(search_form.min_price, { 'attr': {'class': 'input-mini', 'id': 'prependedInput'} }) }}
                        </div>
                        <div class="input-prepend input-append">
                            <span class="add-on">до</span>
                            {{ form_widget(search_form.max_price, { 'attr': {'class': 'input-mini', 'id': 'appendedPrependedInput'} }) }}
                            <span class="add-on">цена (тыс. руб.)</span>
                        </div>
                    </div>
                    <div class="control-group">
                        {{ form_widget(search_form.building_type) }}
        </div> 
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="control-group">            
                        <div class="input-append input-prepend">
                            <span class="add-on">Поиск по адресу</span>
                            {{ form_widget(search_form.address, { 'attr': {'id': 'prependedInput appendedInputButtons'} }) }}
                            <button type="reset" class="btn">Очистить</button>
                            <button type="submit" class="btn btn-primary">Поиск</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
{% endblock%}


{% block rtypeblock %}
<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ entities.sortable('№', 'r.id')|raw }} {% if entities.isSorted('r.id') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th colspan="2">Тип</th>
            <th>Район</th>
            <th>{{ entities.sortable('Адрес', 'r.address')|raw }} {% if entities.isSorted('r.address') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th><abbr title="Количество комнат">К</abbr></th>
            <th>Этаж</th>
            <th>Дом</th>
            <th>{{ entities.sortable('общ.', 'r.s')|raw }} {% if entities.isSorted('r.s') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th>{{ entities.sortable('жил.', 'r.sl')|raw }} {% if entities.isSorted('r.sl') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th>{{ entities.sortable('кух.', 'r.sk')|raw }} {% if entities.isSorted('r.sk') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th><abbr title="Санузел">С</abbr></th>
            <th>{{ entities.sortable('Цена', 'r.price')|raw }} {% if entities.isSorted('r.price') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th>Доп.</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_realty_show', { 'rtype': entity.realtytype, 'id': entity.id }) }}" title="Номер объекта">{{ entity.id }}</a></td>            
            <td><abbr title="{{ entity.operation }}"  class="initialism">{{ entity.operation.abbr }}</abbr></td>
            <td><abbr title="{{ entity.buildingstage.name }}"  class="initialism">{{ entity.buildingstage.abbr }}</abbr></td>            
            <td>{{ entity.district }}</td>
            <td>{{ entity.address }}</td>          
            <td>{{ entity.rooms }}</td>
            <td>{{ entity.floor }}/{{ entity.floors }}</td>
            <td><abbr title="{{ entity.buildingtype.name }}" class="initialism">{{ entity.buildingtype.abbr }}</abbr></td>           
            <td>{{ entity.s }}</td>
            <td>{{ entity.sl }}</td>
            <td>{{ entity.sk }}</td>
            <td><abbr title="{{ entity.bathunittype.name }}" class="initialism">{{ entity.bathunittype.abbr }}</abbr></td>
            <td>{{ entity.price }}</td>            
            <td>{{ entity.sdesc }}</td>
            <td>
                <a href="{{ path('admin_realty_show', { 'rtype': entity.realtytype, 'id': entity.id }) }}" class="icon-check" title="Показать"></a>
                <a href="{{ path('admin_realty_edit', { 'rtype': entity.realtytype, 'id': entity.id }) }}" class="icon-edit" title="Редактировать"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
        