{% extends 'SpbRealityBundle:Realty:index.html.twig' %}

{% block rtype_ru_pl_camel %}Производственно-складские помещения{% endblock %}
{% block add_link %}<a href="{{ path('admin_realty_new', { 'rtype': "storehouse" }) }}" > Добавить склад</a>{% endblock %}

{% block rtypeblock %}

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ entities.sortable('№', 'r.id')|raw }} {% if entities.isSorted('r.id') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th>Тип</th>
            <th>Район</th>
            <th>{{ entities.sortable('Адрес', 'r.address')|raw }} {% if entities.isSorted('r.address') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th>Площадь</th>
            <th>Подъезд</th>
            <th><abbr title="Высота потолков(м)">Выс. пот.</abbr></th>
            <th><abbr title="Состояние помещения">Сост.</abbr></th>            
            <th>{{ entities.sortable('Цена', 'r.price')|raw }} {% if entities.isSorted('r.price') %} <i class="icon-resize-vertical"></i> {% endif %}</th>
            <th>Доп.сведения</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_realty_show', { 'rtype': entity.realtytype, 'id': entity.id }) }}" title="Номер объекта">{{ entity.id }}</a></td>            
            <td><abbr title="{{ entity.operation }}"  class="initialism">{{ entity.operation.abbr }}</abbr></td>
            <td>{{ entity.district }}</td>
            <td>{{ entity.address }}</td>          
            <td>{{ entity.s }}</td>
            <td>{{ entity.approachtype.abbr }}</abbr></td>
            <td>{{ entity.height }}</td>
            <td>{{ entity.statetype.abbr }}</td>
            <td>{{ entity.price }}</td>            
            <td>{{ entity.sdesc }}</td>
            <td>
                <a href="{{ path('admin_realty_show', { 'rtype': entity.realtytype, 'id': entity.id }) }}" class="icon-check" title="Показать"></a> | 
                <a href="{{ path('admin_realty_edit', { 'rtype': entity.realtytype, 'id': entity.id }) }}" class="icon-edit" title="Редактировать"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}