{% extends '::base_hero.html.twig' %}
 
{% block body %}
<div class="container">

    <ul class="breadcrumb">
        <li>
            Жилая недвижимость<span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path('admin_realty', { 'rtype': entity.realtytype }) }}">{{ entity.name("plural", "camel") }}</a><span class="divider">/</span>
        </li>
        <li class="active">
        <u>Добавить</u>
        </li>
    </ul>

    <form action="{{ path('admin_realty_create', { 'rtype': entity.realtytype }) }}" method="post" {{ form_enctype(form) }} class="well form-horizontal">
        <fieldset>
            {{ form_widget(form) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </fieldset>
</form>

</div>
{% endblock %}