{% extends 'SpbRealityBundle:Realty:show.html.twig' %}

{% block rtypebody %}        
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th><abbr title="Номер объекта">Объект</abbr></th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Тип&nbsp;сделки</th>
                    <td>{{ entity.operation }}</td>
                </tr>
                <tr>
                    <th>Район</th>
                    <td>{{ entity.district }}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{ entity.address }}</td>
                </tr>
                <tr>
                    <th><abbr title="Размер участка в сотках">Участок</abbr></th>
                    <td>{{ entity.sm100 }} сот.</td>
                </tr>
                <tr>
                    <th><abbr title="Тип собственности">ИЖС</abbr></th>
                    <td>{{ entity.propertytype }}</td>
                </tr>                                
                <tr>
                    <th><abbr title="Площадь дома в квадратных метрах">Дом</abbr></th>
                    <td>{{ entity.area }} м<sup>2</sup></td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td>{{ entity.floors }}</td>
                </tr>
                <tr>
                    <th>Тип дома</th>
                    <td>{{ entity.housetype }}</td>
                </tr>                
                <tr>
                    <th>Цена</th>
                    <td>{{ entity.price }} руб.</td>
                </tr>
                <tr>
                    <th><abbr title="Дополнительные сведения">Доп.</abbr></th>
                    <td>{{ entity.sdesc }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}
