{% extends 'SpbRealityBundle:Realty:show.html.twig' %}

{% block rtypebody %}        
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th><abbr title="Номер объекта">Объект</abbr></th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Тип&nbsp;сделки</th>
                    <td>{{ entity.operation }}</td>
                </tr>
                <tr>
                    <th>Район</th>
                    <td>{{ entity.district }}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{ entity.address }}</td>
                </tr>
                
                <tr>
                    <th>Количество комнат</th>
                    <td>{{ entity.rooms }}</td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td>{{ entity.floor }}/{{ entity.floors }}</td>
                </tr>
                <tr>
                    <th>Тип/материал дома</th>
                    <td>{{ entity.buildingtype }}</td>
                </tr>
                <tr>
                    <th>Жилая площадь</th>
                    <td>{{ entity.sl }} м<sup>2</sup></td>
                </tr>
                <tr>
                    <th>Площадь кухни</th>
                    <td>{{ entity.sk }} м<sup>2</sup></td>
                </tr>
                <tr>
                    <th>Санузел</th>
                    <td>{{ entity.bathunittype }}</td>
                </tr>                
                <tr>
                    <th><abbr title="Комнат/Съемщиков/Соседей">КСС</abbr></th>
                    <td>{{ entity.nr }}/{{ entity.nt }}/{{ entity.nn }}</td>
                </tr>                
                <tr>
                    <th>Цена</th>
                    <td>{{ entity.price }} руб.</td>
                </tr>
                <tr>
                    <th><abbr title="Дополнительные сведения">Доп.</abbr></th>
                    <td>{{ entity.sdesc }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}
