{% extends 'SpbRealityBundle:Realty:show.html.twig' %}

{% block rtypebody %}        
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th><abbr title="Номер объекта">Объект</abbr></th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Тип&nbsp;сделки</th>
                    <td>{{ entity.operation }}</td>
                </tr>
                <tr>
                    <th>Район</th>
                    <td>{{ entity.district }}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{ entity.address }}</td>
                </tr>
                <tr>
                    <th>Площадь</th>
                    <td>{{ entity.s }} м<sup>2</sup></td>
                </tr>
                <tr>
                    <th>Подъезд</th>
                    <td>{{ entity.approachtype }}</td>
                </tr>
                <tr>
                    <th><abbr title="Высота потолков">Высота</abbr></th>
                    <td>{{ entity.height }} м</td>
                </tr>
                <tr>
                    <th><abbr tittle="Состояние помещения">Сост.</abbr></th>
                    <td>{{ entity.statetype }}</td>
                </tr>
                {% block house %}{% endblock%}
                <tr>
                    <th>Цена</th>
                    <td>{{ entity.price }} руб.</td>
                </tr>
                <tr>
                    <th><abbr title="Дополнительные сведения">Доп.</abbr></th>
                    <td>{{ entity.sdesc }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}
