{% extends 'SpbRealityBundle:Realty:show.html.twig' %}

{% block rtypebody %}        
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Номер объекта</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Тип сделки</th>
                    <td>{{ entity.operation }}</td>
                </tr>
                <tr>
                    <th>Район</th>
                    <td>{{ entity.district }}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{ entity.address }}</td>
                </tr>
                
                <tr>
                    <th>Количество комнат</th>
                    <td>{{ entity.rooms }}</td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td>{{ entity.floor }}/{{ entity.floors }}</td>
                </tr>
                <tr>
                    <th>Тип/материал дома</th>
                    <td>{{ entity.buildingtype }}</td>
                </tr>
                <tr>
                    <th>Жилая площадь</th>
                    <td>{{ entity.sl }}</td>
                </tr>
                <tr>
                    <th>Площадь кухни</th>
                    <td>{{ entity.sk }}</td>
                </tr>
                <tr>
                    <th>Санузел</th>
                    <td>{{ entity.bathunittype }}</td>
                </tr>                
                <tr>
                    <th><abbr title="Комнат/Съемщиков/Соседей">КСС</abbr></th>
                    <td>{{ entity.nr }}/{{ entity.nt }}/{{ entity.nn }}</td>
                </tr>                
                <tr>
                    <th>Цена</th>
                    <td>{{ entity.price }}</td>
                </tr>
                <tr>
                    <th>Доп.сведения</th>
                    <td>{{ entity.sdesc }}</td>
                </tr>
                <tr>
                    <th>Описание</th>
                    <td>{{ entity.ldesc }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}
