{% set spb_route = app.request.attributes.get('_route') %}

{% if (spb_route == 'spb_realty_show' ) %}
    {% set base = '::base.html.twig' %}
    {% set route = 'spb_realty'%}
{% else %}
    {% set base = '::base_hero.html.twig' %} 
    {% set route = 'admin_realty'%}
{% endif %}

{% extends base %}

{% block body %}

    <ul class="breadcrumb">
        <li>
            Жилая недвижимость<span class="divider">/</span>
        </li>
        <li>
            <a href="{{ path(route , { 'rtype': entity.realtytype }) }}">{{ entity.name("plural", "camel")}}</a><span class="divider">/</span>
        </li>
        <li class="active">
            Полная информация об объекте
        </li>
    </ul>
    
    <div class="row">
           
      <div class="span5">                 
        <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
        <!-- Carousel items -->
            {% for doc in entity.documents %}
            <div class="item {% if loop.first %} active {% endif %}">
                <img src="{{ doc.webpath  | apply_filter('thumb470')}}" alt=""/>
                <div class="carousel-caption">                    
                    <h4><span class="badge" style="float:right">{{ loop.index }}/{{ loop.length+1}}</span>{{ doc.title }}</h4>
                    {% if doc.desc is not empty %}<p>{{ doc.desc }}</p>{% endif %}
                </div>
            </div>
            {% endfor %}
            <div class="item {% if (entity.documents.count == 0) %} active {% endif %}">
                <img src="http://static-maps.yandex.ru/1.x/?pt={{entity.longitude}},{{entity.latitude}},flag&l=map&size=470,300&z=14&key={{yandex_map_key}}" alt=""/>
                <div class="carousel-caption">                    
                    <h4><span class="badge" style="float:right">{{ entity.documents.count+1 }}/{{ entity.documents.count+1 }}</span>местоположение на карте</h4>
                </div>
            </div>
          </div>
          <!-- Carousel nav -->
          {% if entity.documents|length > 0 %}
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          {% endif %}
        </div>
              
        <p>{{ entity.ldesc }}</p>
             
      </div>

      <div class="span4">                

{% block rtypebody %}          
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Номер объекта</th>
                    <td>{{ entity.id }}</td>
                </tr>
                <tr>
                    <th>Тип сделки</th>
                    <td>{{ entity.operation }}</td>
                </tr>
                <tr>
                    <th>Район</th>
                    <td>{{ entity.district }}</td>
                </tr>
                <tr>
                    <th>Адрес</th>
                    <td>{{ entity.address }}</td>
                </tr>
                <tr>
                    <th>Цена</th>
                    <td>{{ entity.price }}</td>
                </tr>
                <tr>
                    <th>Доп.сведения</th>
                    <td>{{ entity.sdesc }}</td>
                </tr>
            </tbody>
        </table>
{% endblock %}

        {% if (spb_route != 'spb_realty_show' ) %}
        <div class="row">
            <div class="span2">
                <form action="{{ path('admin_realty_delete', { 'rtype': entity.realtytype, 'id': entity.id }) }}" method="post">
                   {{ form_widget(delete_form) }}
                   <button class="btn btn-mini btn-danger" type="submit">Удалить объект</button>
                </form>
            </div>
            <div class="span2">
                <a href="{{ path('admin_realty_edit', {  'rtype': entity.realtytype, 'id': entity.id }) }}" style="float:right"> Редактировать объект</a>                      
            </div>
        </div>              
        {% endif %}
          
      </div>      
           
    </div>
{% endblock %}