{% extends '::base.html.twig' %}

{% block body %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path ('spb_home')}}">РосРеал</a><span class="divider">/</span>
    </li>
    <li>
        Услуги
    </li>
</ul>

<div class="accordion" id="accordion2">
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            Жилая недвижимость
        </a>
        </div>
        <div style="height: auto;" id="collapseOne" class="accordion-body in collapse">
        <div class="accordion-inner">
            <img src="{{ asset('bundles/spbreality/img/spb_1.jpg') }}" align="right">
            <ul>
                <li>Продажа, покупка квартир, комнат, частных домов, коттеджей</li>
                <li>Расселение коммунальных квартир</li>
                <li>Помощь в получении ипотечного кредита</li>
                <li>Консультации по налоговому законодательству</li>
                <li>Юридическое сопровождение сделок</li>
                <li>Приватизация</li>
                <li>Утверждение перепланировок</li>
                <li>Регистрация прав собственности на объекты недвижимости (в том числе и ранее возникших)</li>
                <li>Регистрация ранее возникших прав на дома и земельные участки</li>
                <li>Перевод в нежилой фонд</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
            Загородная недвижимость
        </a>
        </div>
        <div style="height: 0px;" id="collapseTwo" class="accordion-body collapse">
        <div class="accordion-inner">
            <img src="{{ asset('bundles/spbreality/img/spb_2.jpg') }}" align="right">
            <p>При возникновении вопроса о загородной недвижимости возникает ассоциация  «это очень сложно и очень специфично». При проведении сделок  с земельными участками, домами, дачами есть очень много нюансов, о которых могут знать только профессионалы. Но не зря говорят, что «не боги горшки обжигают»! Наши специалисты смогут помочь Вам в продаже  или покупке загородной недвижимости и помогут Вам:</p>
            <ul>
                <li>Оценить объект</li>
                <li>Провести экспертизу документов и проверить правомочия собственника</li>
                <li>Юридически грамотно оформить сделку</li>
                <li>Помогут грамотно составить Договор купли-продажи, помогут зарегистрировать в установленном законом порядке</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
            Коммерческая недвижимость
        </a>
        </div>
        <div style="height: 0px;" id="collapseThree" class="accordion-body collapse">
        <div class="accordion-inner">
            <img src="{{ asset('bundles/spbreality/img/spb_3.jpg') }}" align="right">
            <p>Риэлторская компания «РосРеал» может профессионально помочь и на рынке коммерческой недвижимости. В чем Вам нужна наша помощь? Сдать в аренду объект сферы услуг, офисное, торговое или складское помещение? Наши специалисты смогут профессионально помочь Вам в этом вопросе.
            <p>Мы можем оказать Вам следующие услуги:
            <ul>
                <li>Помощь в определении  стоимости аренды</li>
                <li>Помощь в составлении  Договора аренды, в котором будут определены основные вопросы: местоположение; цена, сроки действия Договора, возможность расторжения, штрафные санкции сторон</li>
                <li>Помощь в проверке юридической чистоты сделки и серьезности намерений партнеров по сделке</li>
                <li>Консультации об особенностях сделок в сфере коммерческой недвижимости</li>
            </ul>
            <p>Если Вам нужна помощь в продаже или в покупке коммерческой недвижимости, то специалисты нашего агентства сделают для Вас:</p>
            <ul>
                <li>Анализ ситуации на рынке коммерческой недвижимости</li>
                <li>Проведут оценку продаваемого  объекта коммерческой недвижимости</li>
                <li>Подготовят пакет документов для продажи объекта коммерческой недвижимости</li>
                <li>Найдут Покупателя с помощью эффективной рекламы, предложенной для Вашего объекта</li>
                <li>Проведут все переговоры с потенциальными Покупателями и подберут Вам именно Вашего Покупателя, с которым будут согласованы Ваши пожелания и требования</li>
                <li>Оганизуют проведение сделки и безопасность расчетов</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
            Жилищные программы Санкт-Петербурга
        </a>
        </div>
        <div style="height: 0px;" id="collapseFour" class="accordion-body collapse">
        <div class="accordion-inner">
            <img src="{{ asset('bundles/spbreality/img/spb_4.jpg') }}" align="right">
            <p>Сотрудники компании РосРеал помогут Вам в приобретении недвижимости с использованием городских жилищных целевых программ администрации Санкт-Петербурга, таких как:</p>
            
            <ul>
                <li>«Развитие долгосрочного жилищного кредитования в Санкт-Петербурге»</li>
                <li>«Жилье работникам учреждений системы образования, здравоохранения и социального обслуживания населения»</li>
                <li>«Санкт-Петербургские жилищные сертификаты»</li>
                <li>«Расселение коммунальных квартир в Санкт-Петербурге»</li>
                <li>«Молодежи – доступное жилье»</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            Ипотечное кредитование
        </a>
        </div>
        <div style="height: 0px;" id="collapseFive" class="accordion-body collapse">
        <div class="accordion-inner">
            <img src="{{ asset('bundles/spbreality/img/spb_5.jpg') }}" align="right">
            <p>В отделении Компании РосРеал, клиент имеет возможность получить квалифицированную консультацию по подбору ипотечной программы и рекомендации в выборе банка.</p>
            <p>Мы сотрудничаем c банками, предлагающими наиболее выгодные для клиентов ипотечные программы. В каждом случае наши сотрудники предложат клиенту именно тот банк, условия которого, будут выгодны в данной конкретной сделке.</p>
            <p>На сегодняшний день возможно привлечение кредита для приобретения недвижимости, как на вторичном рынке, так и на объекты, находящиеся на стадии строительства.</p>
            <p>Стоимость юридического сопровождения по получению ипотечного кредита входит в стоимость риэлтерских услуг по покупке квартиры.</p>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
            Новостройки
        </a>
        </div>
        <div style="height: 0px;" id="collapseSix" class="accordion-body collapse">
        <div class="accordion-inner">
            <img src="{{ asset('bundles/spbreality/img/spb_6.jpg') }}" align="right">
            <ul>
                <li>Анализ рынка недвижимости согласно Вашим требованиям</li>
                <li>Поиск вариантов и организация просмотров объектов</li>
                <li>Юридическое сопровождение и согласование схемы расчетов со строительной компанией или с субподрядчиками</li>
                <li>Юридическое сопровождение по оформлению договора долевого участия, договора цессии, договора переуступки права третьему лицу</li>
                <li>Подбор квартиры в новостройках с одновременным обеспечением продажи на вторичном рынке имеющегося в Вашей собственности жилья (в случае необходимости)</li>
                <li>Подбор оптимальной схемы оплаты приобретаемого жилья на первичном рынке (100% оплата, различные варианты рассрочек, предлагаемые строительными компаниями, ипотека)</li>
                <li>Проведение сделок по переуступке права на квартиру в новостройке, на максимально выгодных для Вас условиях</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
            Сопровождение
        </a>
        </div>
        <div style="height: 0px;" id="collapseSeven" class="accordion-body collapse">
        <div class="accordion-inner">
            <img src="{{ asset('bundles/spbreality/img/spb_7.jpg') }}" align="right">
            <p>Если Вы самостоятельно подобрали объект, то можете воспользоваться нашими услугами по сопровождение сделки.</p>
            <p>Наши сотрудники проведут экспертизу документов, отследят законность перехода права собственности по предыдущим сделкам с данным объектом, подготовят проект договора купли-продажи и разработают и предложат оптимальную с точки зрения конфиденциальности, безопасности, юридических и налоговых последствий схему предполагаемой сделки.</p>
        </div>
        </div>
    </div>
</div>
{% endblock %}