{% extends '::base.html.twig' %}

{% block body %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path ('spb_home')}}">РосРеал</a><span class="divider">/</span>
    </li>
    <li>
        Наши сотрудники
    </li>
</ul>

<table class="table table-condensed">
    <tr>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_rosin.jpg') }}" ></td>
        <td>
            <u>Генеральный директор</u><br/>
            Росин Алексей Валерьевич<br/>
            +7 921 913-1-913<br/>
            <a href="mailto:rosin@rosreal.com">rosin@rosreal.com</a><br/>
        </td>
    </tr>
</table>

<h4>Отдел коммерческой и жилой недвижимости</h5>
<table class="table table-striped table-condensed">
    <tr>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_kriga.jpg') }}" ></td>
        <td>
            <u>Директор отдела</u><br>
            Крыга Андрей Викторович<br>
            15.08.1968 г.р.<br>
            Пенсионер МО<br>
            Риэлтор: стаж более 16 лет<br>
            +7 921 959-8-959<br>
            <a href="mailto:kryga@rosreal.com">kryga@rosreal.com</a><br/>
        </td>
        </td>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_sennikov.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br>
            Сенников Иван Федорович<br>
            +7 921 983-21-93<br>
        </td>
    </tr>
    <tr>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_teymurova.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br>
            Теймурова Наталья<br>
            02.02.1976 г.р.<br>
            Медицинский работник<br>
            Риэлтор: стаж более 3 лет<br>
            +7 963 316-37-37<br>
            <a href="mailto:nordnata76@mail.ru">nordnata76@mail.ru</a><br/>
        </td>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_sokolov.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br/>
            Соколов Алексей Владимирович<br/>
            Риэлтор: стаж более 3 лет<br/>
            +7 911 791-82-22        
        </td>
    </tr>
    <tr>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_alena.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br/>
            Крыга Алена Валерьевна<br/>
            01.09.1982 г.р.<br/>
            Доцент ИНЖЭКОН, к.э.н.<br/>
            Риэлтор: стаж более 5 лет<br/>
            +7 911 296-20-84<br/>
        </td>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_kuzakova.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br/>
            Кузакова Олеся Александровна<br/>
            06.07.1982 г.р.<br/>
            Доцент ИНЖЭКОН, к.э.н.<br/>
            Научный сотрудник Гиссенского университета имени Юстуса Либиха (Justus-Liebig-Universität Gießen)<br/>
            Риэлтор: стаж более 5 лет<br/>
            +7 921 304-55-14<br/>
        </td>
    </tr>
    <tr>
        <td width="110px">&nbsp;</td>
        <td>
            <u>Специалист отдела</u><br/>
            Болдырева Анна Михайловна<br/>
            20.08.1987 г.р.<br/>
            Студент ИНЖЭКОН<br/>
            Риэлтор: стаж 1 год<br/>
            +7 950 027-98-50<br/>
        </td>
        <td width="110px">&nbsp;</td>
        <td>
            <u>Специалист отдела</u><br/>
            Калашников Павел Владимирович<br/>
            25.10.1981 г.р.<br/>
            Инструктор фитнесс-клуба "Спортлайф"<br/>
            Риэлтор: стаж 1 год<br/>
            +7 921 576-78-08<br/>
        </td>
    </tr>
    <tr>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_galina.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br/>
            Пензева Галина Ильинична<br/>
            24.04.1986 г.р.<br/>
            Риэлтор: стаж 1 год<br/>
            +7 921 398-33-13<br/>
        </td>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_vlad.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br/>
            Демочкин Владислав Александрович<br/>
            20.01.1978 г.р.<br/>
            Риэлтор<br/>
            +7 921 315-56-36<br/>
            <a href="mailto:vladdemochkin@yandex.ru">vladdemochkin@yandex.ru</a><br/>
        </td>
    </tr>    <tr>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_stas.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br/>
            Горбачев Станислав Анатольевич<br/>
            08.05.1982 г.р.<br/>
            Риэлтор: стаж 1 год<br/>
            +7 911 944-21-30<br/>
        </td>
        <td width="110px">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>    
</table>

<h4>Отдел купли-продажи жилой недвижимости</h4>
<table class="table table-striped table-condensed">
    <tr>
        <td width="110px">&nbsp;</td>
        <td>
            <u>Директор отдела</u><br/>
            Шестакова Анна Сергеевна<br/>
            +7 921 992-1-992<br/>
            <a href="anna@rosreal.com">anna@rosreal.com</a>
        </td>
        <td width="110px"><img src="{{ asset('bundles/spbreality/img/spb_larisa.jpg') }}" ></td>
        <td>
            <u>Специалист отдела</u><br/>
            Рем Лариса<br/>
            +7 921 343-06-51<br/>
            <a href="mailto:3430651@mail.ru">3430651@mail.ru</a>
        </td>
    </tr>
</table>    

<h4>Отдел загородной недвижимости</h4>
<table class="table table-striped table-condensed">
    <tr>
        <td width="110px">&nbsp;</td>
        <td>
            <u>Специалист отдела</u><br/>
            Чернов Александр Алесандрович<br/>
            +7 951 662-29-28<br/>
            +7 904 559-33-96<br/>
        </td>
        <td width="110px">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>  

{% endblock %}