{% extends '::base.html.twig' %}

{% block javascripts %} 
<script src="http://releases.flowplayer.org/5.3.2/flowplayer.min.js"></script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="http://releases.flowplayer.org/5.3.2/skin/minimalist.css" />
{% endblock %}

{% block body %}
<ul class="breadcrumb">
    <li>
        <a href="{{ path ('spb_home')}}">РосРеал</a><span class="divider">/</span>
    </li>
    <li>
        ТВ <span class="divider">/</span>
    </li>
    <li>СПб недвижимость</li>
</ul>

<table class="table table-condensed table-striped">
{% for item in items %}
{% if (item.enclosure.properties.type == 'video/mp4') %}       
<tr>
    <td width="50%">
        <blockquote>
            <p id="{{ item.link.value | length }}d{{ item.title.value | length }}m{{ item.description.value | length }}"  style="padding-top: 40px; margin-top: -40px;">{{ item.title.value }}</p>
            <small>
            {{ item.pubDate.value|date("d/m/Y", "Europe/Moscow") }} <span class="divider">/</span>
            {% if item.author.value is defined %}
                {{item.author.value}} <span class="divider">/</span>
            {% endif %}
            {{ item.category.value }}                    
            </small>
        </blockquote>
        <p>
           {{item.description.value}}
        </p>
        <p align="right">Источник <a href="{{ item.link.value}}" target="_new">БН.ру</p></small>
    </td>
    <td>
        <div class="flowplayer is-splash" style="background-color: gray">
            <video preload="none" src="{{item.enclosure.properties.url}}"></video>
        </div>    
    </td>
</tr>
{% endif %}
{% endfor %}
</table>

{% endblock %}